.list {
  margin: 1rem;
}
//p {
//  height: 40px;
//}
.card {
  display: flex;
  color: yellow;
  font-weight: bolder;
  font-size: xx-large;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  border-radius: 4px;
  margin-bottom: 1rem;
  //column-count: 2;
  //column-width: 395px;
  //column-gap: 111px;
  //column-rule: 2px solid red;
  ////column-span: all;
  //orphans: 6;
}
.columnLeft {
  flex: 1 1 auto;
  width: 60%;
}
.columnRight {
  flex: 1 1 auto;
  width: 40%;
  border-left: 2px solid white;
  padding-left: 10%;
}
.artistName {
  color: white;
  white-space: pre;
  width: 25%;
}
a {
  color: lightgrey;
}
a:hover {
  color: darkblue;
}
h1 {
  color: white;
  font-size: xxx-large;
}
.logo {
  //alignment: center;
  width: 50%;
  height: 40%;
  padding: 20px;
}
.thumbBack {
  width: 20%;
  float: left;
  padding-right: 10px;
}
.backGround {
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
}
.checkBox {
  color: white;
}
