<div class="list" *ngIf="details">
  <div
    class="backGround"
    [style.background-image]="'url(' + details.strArtistFanart4 + ')'"
  >
    <h1>Music Artist details page</h1>
    <input
      [(ngModel)]="name"
      placeholder="Artist Name"
      #ctrl="ngModel"
      required
    />
    <button (click)="getArtistInformation(name)">Search</button>
    <img class="logo" src="{{ details.strArtistLogo }}" />
    <div class="card">
      <div class="columnLeft">
        <p>
          <b>Style: </b>{{ details.strStyle }}<br />
          Website:
          <a target="_blank" href="https://{{ details.strWebsite }}"
            >https://{{ details.strWebsite }}</a
          >
          <br />
          <b>Biography in English: </b
          >{{ details.strBiographyEN | firstSentence }}
          <br />
          <b>Country: </b>{{ details.strCountryCode }}<br />
        </p>
      </div>
      <div class="columnRight">
        <input
          [(ngModel)]="albumName"
          placeholder="Album Name"
          (keyup)="albumSearch()"
        />
        <div class="checkBox">
          <label class="checkboxInline">
            <input
              type="checkbox"
              name="score"
              [(ngModel)]="score"
              (ngModelChange)="albumSearch()"
            />Score higher than 7</label
          >
          <div class="checked" *ngIf="score">Good scored albums are:</div>
        </div>
        <div *ngFor="let albumData of details.albums | slice: 0:3">
          <img class="thumbBack" src="{{ albumData.strAlbumThumb }}" />
          <b>Album: </b>{{ albumData.strAlbum }}<br />
          <b>Released year: </b>{{ albumData.intYearReleased }}
          <br />
          <b>Score: </b>{{ albumData.intScore }}<br />
        </div>
      </div>
    </div>
  </div>
</div>
